<%- include('./partials/header') %>

    <% if(success.length>0){ %>
        <div class="absolute top-9 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
        <% } %>

            <div class="min-h-screen flex flex-col px-20 py-20">
                <div class="flex justify-between items-center mb-5">
                    <h3 class="text-2xl font-semibold">Create New Product</h3>
                    <a href="/owners/create"
                        class="bg-zinc-800 text-white px-4 py-2 rounded-md text-sm hover:bg-zinc-700">Update/Replace
                        Owner</a>
                </div>
                <form autocomplete="off" action="/products/create" method="post" enctype="multipart/form-data">
                    <div class="mb-6">
                        <h4 class="text-lg font-medium mb-2">Product Details</h4>
                        <div class="grid grid-cols-2 gap-5">
                            <input name="image" type="file" class="px-3 py-2 border rounded-md" required>
                            <input name="name" type="text" placeholder="Product Name"
                                class="px-3 py-2 border rounded-md bg-zinc-100" required>
                            <input name="price" type="number" placeholder="Price"
                                class="px-3 py-2 border rounded-md bg-zinc-100" required>
                            <input name="discount" type="number" placeholder="Discount Price"
                                class="px-3 py-2 border rounded-md bg-zinc-100" required>
                        </div>
                    </div>

                    <div>
                        <h4 class="text-lg font-medium mb-2">Panel Details</h4>
                        <div class="grid grid-cols-2 gap-5">
                            <input name="bgcolor" type="text" placeholder="Background Color (Hex)"
                                class="px-3 py-2 border rounded-md bg-zinc-100" >
                            <input name="panelcolor" type="text" placeholder="Panel Color (Hex)"
                                class="px-3 py-2 border rounded-md bg-zinc-100" >
                            <input name="textcolor" type="text" placeholder="Text Color (Hex)"
                                class="px-3 py-2 border rounded-md bg-zinc-100 " >
                        </div>
                    </div>

                    <input class="px-5 py-2 rounded-full mt-5 bg-blue-500 text-white cursor-pointer" type="submit"
                        value="Create New Product">
                </form>
            </div>

            <%- include('./partials/footer') %>